---
const { heading } = Astro.props;
---
{heading.depth == 2 &&
<li class="text-[14px] list-disc list-outside pt-2">
  <a href={'#' + heading.slug}>
    {heading.text}
  </a>
  {heading.subheadings.length > 0 && (
    <ul>
      {heading.subheadings.map((subheading: any) => (
        <Astro.self heading={subheading} />
      ))}
    </ul>
  )}
</li>
}
{heading.depth == 3 &&
<li class="text-[12px] list-disc list-inside pt-2">
  <a href={'#' + heading.slug}>
    {heading.text}
  </a>
  {heading.subheadings.length > 0 && (
    <ul>
      {heading.subheadings.map((subheading: any) => (
        <Astro.self heading={subheading} />
      ))}
    </ul>
  )}
</li>
}