<section class="giscus mx-auto mt-10 w-full"></section>

<script src="https://giscus.app/client.js"
        data-repo="danny-lee-tech/the-daily-loot"
        data-repo-id="R_kgDOPaDhRw"
        data-category="Blog Post Comments"
        data-category-id="DIC_kwDOPaDhR84CupN2"
        data-mapping="url"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="light_tritanopia"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>